@charset "UTF-8";
* {
  margin: 0px;
  padding: 0px;
  text-decoration: none;
  box-sizing: border-box;
  font-size: .14rem;
  font-weight: 400;
  font-style: normal;
  font-family: "微软雅黑";
  text-size-adjust: 100%;
}

ul, li {
  list-style: none;
}

html {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  user-select: none;
  font-size: 625%;
}

img, div, body, html, ul, li, a {
  -webkit-touch-callout: none;
}

input, button {
  outline: 0;
  display: box;
  line-clamp: 2;
  word-break: break-all;
  overflow: hidden;
}

input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
  color: #999;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

html, body {
  width: 100%;
  height: 100%;
}

.Routing {
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.connect {
  flex: 1;
  overflow: hidden;
  overflow-y: scroll;
}

.connect .img {
  width: 100%;
  position: relative;
  height: 3.29rem;
  overflow: hidden;
}

.connect .img img {
  width: 100%;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  position: absolute;
}

.connect .img span {
  position: absolute;
  bottom: .3rem;
  right: .3rem;
  color: #fff;
  padding: 1px .1rem;
  border-radius: .2rem;
  background: rgba(0, 0, 0, 0.6);
  font-size: .24rem;
}

.bottom {
  position: fixed;
  width: 100%;
  bottom: 0;
  z-index: 99;
  background: #3aacff;
  height: 1rem;
  color: #fff;
  text-align: center;
}

.bottom > p:nth-child(1) {
  font-size: .32rem;
  margin-top: .12rem;
  font-weight: 500;
}

.bottom > p:nth-child(2) {
  font-size: .24rem;
}

.top {
  padding: .36rem .2rem .3rem;
  background: #fff;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.top p {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.top p > span:nth-child(1) {
  font-size: .36rem;
  color: red;
  font-weight: 500;
}

.top p > span:nth-child(2) {
  font-size: .26rem;
  color: silver;
}

.top .but {
  flex: 1;
  background: #00afff;
  color: #fff;
  height: .7rem;
  border-radius: 4px;
  text-align: center;
  font-size: .32rem;
  line-height: .7rem;
}

.con-bot {
  width: 100%;
  height: auto;
}

.con-bot .con-nav {
  border-top: .15rem solid #f4f4f4;
  padding: 0 .3rem;
  font-size: .32rem;
  line-height: .77rem;
  background: #fff;
}

.con-bot .con-nav span {
  padding-right: .46rem;
  font-size: .32rem;
  line-height: .77rem;
}

.con-bot .con-nav span.active {
  color: #EA4545;
}

.con-bot div p {
  padding: 0 .2rem;
  height: .5rem;
  line-height: .5rem;
  font-size: .26rem;
  color: #999;
  background: #f4f4f4;
}

.con-bot div ul {
  list-style-type: none;
  background: #fff;
}

.con-bot div ul li {
  padding: 0 .2rem;
  border-bottom: .18rem solid #f4f4f4;
  overflow: hidden;
}

.con-bot div ul li h3:nth-child(1) {
  padding: .26rem 0 .18rem;
  font-size: .3rem;
  line-height: 1;
  color: #3d3d3d;
}

.con-bot div ul li h3:nth-child(2) {
  color: #bdbdbd;
  font-size: .26rem;
}

.con-bot div ul li h3:nth-child(3) {
  text-align: right;
  padding-bottom: .1rem;
  font-size: .24rem;
  color: #818181;
}

.con-bot div ul li h3:nth-child(3) span:nth-child(1) {
  text-align: right;
  padding-bottom: .1rem;
  font-size: .24rem;
  color: #818181;
}

.con-bot div ul li h3:nth-child(3) span:nth-child(2) {
  font-size: .3rem;
  color: #ff2336;
  margin-left: .1rem;
}

.con-bot div ul li button {
  border: none;
  border-top: 1px solid #eee;
  width: 110%;
  height: .8rem;
  font-size: .32rem;
  color: #00afff;
  background: #fff;
  font-weight: 500;
  margin-left: -.3rem;
}

.dotp {
  width: 100%;
  height: auto;
  margin-bottom: .9rem;
}
